
<div class="jumbotron text-center">
    <h1 class="display-4">DASHBOARD</h1>
    <hr class="my-4">
    <p class="lead">Kindly read information before proceeding </p>
</div>
<div class="jumbotron" style="background-color:whitesmoke">
    <br>
    <div class="row">
        <div class="col-sm-4">
        <p class=" text-center">PERSONAL</p>
        <p class="lead text-center">Here you need to store all your personal tasks </p>
        
        <hr class="my-4">
        <br>
        </div>
        <div class="col-sm-4">
        <p class=" text-center">PROFESSIONAL</p>
        <p class="lead text-center">Here you need to store all your professional tasks </p>
        
        <hr class="my-4">
        <br>
        </div>
        <div class="col-sm-4">
        <p class="options text-center">
            <a href="/insert" class="btn btn-secondary">Enter-Task</a>
        </p>
        </div>
    </div>
</div>
<div class="jumbotron" >
    <br>
    <div class="row">
        <div class="col-sm-4">
        <p class=" text-center">PERSONAL</p>
        <p class="lead text-center">To find personal tasks you need to select personal option</p>
        
        <hr class="my-4">
        <br>
        </div>
        <div class="col-sm-4">
        <p class=" text-center">PROFESSIONAL</p>
        <p class="lead text-center">To find professional tasks you need to select professional option </p>
        
        <hr class="my-4">
        <br>
        </div>
        <div class="col-sm-4">
            <p class="options text-center">
                <a href="/find" class="btn btn-secondary">List-Task</a>
            </p>
        </div>
    </div>
</div>    
<div class="jumbotron text-center" style="background-color:whitesmoke">
    <p class=" text-center">adiós</p>
    <hr class="my-4">
    <p class="options"></p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </p>

</div>  
 











    




 
