<br>
</br>
<h1> </h1>
<br>
</br>


<ul>
  <% for(var person of items) { %>
  
	  <div class="card text-center" style="background-color:whitesmoke">
      <p class="get text-center"><br/>
        ID: <%= person.code%><br/>
      <br/>DATE: <%= person.da1 %><br/>
      <br/>TASK: <%= person.task %><br/></p>
    </div>
  <% } %>
  


  
</ul>
