
<div class="jumbotron text-center">
    <p class="lead">HOLA</p>
    <img src="/images/unnamed1.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="200" height="200">
    <p class="lead">This is a simple To-Do App</p>
  </div>
  
  <div class="jumbotron text-center " style="background-color:whitesmoke">
    
    <p class="lead"> You need to register first and then Log-In</p>
    <hr class="my-4">
    <form action ="/welcome/submit" method="post">
        <button class="btn btn-secondary">    >>     </button>
   </form>  
  </div>
 
  <div class="jumbotron text-center">
   
    <p class="lead">Once done, please leave your feedback</p>
    <hr class="my-4">
    <form action="URL to form script" method="POST">
    <img src="/images/1.png" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="20" height="20">
    <p class="lead">ID: sidharth_07</p>
  </div>
 
    
    





    












